main {
  background: url(./../../img/back-website.png) no-repeat center;
  background-size: cover;
}
.slider-one {
  margin: auto;
}
.slide-container h1 {
  font-size: 6vw;
  line-height: 7vw;
}
.box-with-borders {
  border-top: 3px solid #79710b;
  border-bottom: 3px solid #79710b;
  background: #00000079;
  text-align: center;
  display: grid;
  place-items: center;
  width: 100%;
}
.wrapper-container h2,
.wrapper-container h3,
.wrapper-container h4,
.wrapper-container h5,
.wrapper-container h6 {
  font-size: 6vw;
}
.wrapper-container p {
  margin: 1rem 0;
  font-size: 24px;
}
.wrapper-container-dialog {
  margin: auto;
  max-width: 687px;
}

.wrapper-container-dialog button {
  font-size: 1rem;
  font-weight: 800;
}
.left-right-flex {
  display: flex;
  flex-direction: row;
}
@media (min-width: 900px) {
}
.left-right-flex .right,
.left-right-flex .left {
  position: relative;
  // overflow: hidden;
  margin: auto;
  text-align: center;
}
.left-right-flex .left {
  flex: 50%;
}
.left-right-flex .right {
  flex: 50%;
}
.mm-connect {
  font-size: small;
}
@media (max-width: 900px) {
  .left-right-flex {
    flex-direction: column;
  }
  .left-right-flex .right {
    margin-top: 0;
  }
  .left-right-flex .left {
    padding-top: 5rem;
  }
}
.slider-one-arrow-container,
.slider-two-arrow-container {
  position: absolute;
  top: 45%;
  left: -7%;
  right: -5%;
}
.slider-one .carousel__next-button,
.slider-two .carousel__next-button {
  position: absolute;
  right: -20px;
  top: -40px;
  border: 0;
  background: url(./../../img/slider-arrow.png) no-repeat center;
  background-size: cover;
  height: 5vh;
  width: 50px;
  filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(277deg)
    brightness(104%) contrast(101%);
}
.slider-one .carousel__back-button,
.slider-two .carousel__back-button {
  position: absolute;
  left: -20px;
  top: -40px;
  border: 0;
  background: url(./../../img/slider-arrow.png) no-repeat center;
  background-size: cover;
  height: 5vh;
  width: 50px;
  filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(277deg)
    brightness(104%) contrast(101%);
  transform: rotateY(180deg);
}
.container-slider-two {
  margin: auto;
}
//--------------- first area ------------------
.home-first-area {
  margin-top: 200px;
}

.homefirstimg1 {
  width: 40vw;
}
.homefirstimg5 {
  width: 40vw;
}
.homeparag1 {
  font-size: 20px;
}
.leftrightinnerdiv {
  margin: auto;
  display: table;
  width: 80%;
}
.homefirstbuttondiv {
  display: flex;
  flex-direction: row;
  margin: auto;

  margin-top: 30px;
  margin-bottom: 5px;
}
.homefirstbutton1 {
  margin-left: 5px;
  padding: 2px 15px;
}

@media (max-width: 1072px) {
  .homefirstbuttondiv {
    flex-direction: column;
  }

  .homefirstbuttondiv button {
    margin-top: 5px;
  }
}

@media (max-width: 900px) {
  .homefirstimg1 {
    width: 80vw;
    margin-top: 20px;
  }
  .homefirstbuttondiv {
    margin-top: 10px;
  }
  .homefirstimg5 {
    width: 80vw;
    margin-top: 10px;
  }
  .homefirstbutton1 {
    margin-left: 5px;
    padding: 0px 5px;
  }
}
//---------------- second area -----------------------
.box-with-borders2 {
  border-top: 3px solid #79710b;
  border-bottom: 3px solid #79710b;
  background: #00000079;
  text-align: center;
  width: 100%;
}
.homesecondleftdiv {
  float: left;
  width: 30%;
  height: 100vh;
}
.homesecondrightdiv {
  float: left;
  width: 60%;
  padding: 3vw 0;
  display: grid;
  place-items: center;
}
.homesecondleftdiv > div {
  display: table;
}
.homesecondimg1 {
  width: 250px;
  margin-top: calc(50vh - 150px);
}
.homesecondrightdiv p {
  margin-top: 20px;
  line-height: 40px;
}

@media (min-width: 1367px) and (max-width: 1450px) {
  .homesecondrightdiv p {
    font-size: 35px;
    line-height: 40px;
  }
}

@media (min-width: 1251px) and (max-width: 1366px) {
  .homesecondrightdiv p {
    font-size: 32px;
  }
}
@media (max-width: 1250px) {
  .homesecondrightdiv {
    width: 70%;
    padding: 3vw 5vw;
  }
  .homesecondrightdiv p {
    font-size: 30px;
  }
}

@media (max-width: 1000px) {
  .homesecondrightdiv p {
    line-height: 35px;
  }
}

@media (max-width: 900px) {
  .homesecondleftdiv {
    width: 100%;
    height: 320px;
  }
  .homesecondimg1 {
    margin-top: 20px;
  }
  .homesecondrightdiv {
    width: 100%;
    padding: 20px 30px;
  }
  .homesecondrightdiv p {
    line-height: 40px;
  }
}

@media (max-width: 700px) {
  .homesecondrightdiv p {
    line-height: 28px;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  .homesecondrightdiv p {
    line-height: 18px;
    font-size: 19px;
  }
  .homesecondrightdiv {
    width: 100%;
    padding: 10px 20px;
  }
}

@media (min-width: 381px) and (max-width: 499px) {
  .homesecondrightdiv p {
    line-height: 20px;
    font-size: 22px;
  }
  .homesecondrightdiv {
    width: 100%;
    padding: 10px 20px;
  }
}
@media (max-width: 896px) {
  .hs-flex-column {
    flex-direction: column;
  }
}
//--------------- third area --------------------
.homethirdarea {
  display: flex;
  flex-direction: row;
}

.homethirdleftdiv,
.homethirdrightdiv {
  flex: 50%;
  position: relative;
  margin: auto;
  text-align: center;
  padding: 0.55rem;
}

.homethirdleftdiv p {
  line-height: 2.2rem;
  font-size: 2.5rem;
  text-shadow: 0px 0px 50px yellow;
  width: 90%;
  margin: 30px;
  text-align: center;
}

.homethirdrightdiv > video {
  border-radius: 30px;
  border: 8px solid white;
}

@media (max-width: 1000px) {
  .homethirdleftdiv p {
    line-height: 1.5rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .homethirdarea {
    flex-direction: column;
  }
  .homethirdleftdiv,
  .homethirdrightdiv {
    flex: none;
    margin: 20px;
  }
  .homethirdrightdiv > video {
    width: 80vw;
    border-radius: 30px;
    border: 8px solid white;
  }
}

@media (max-width: 600px) {
  .homethirdleftdiv p {
    line-height: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  .homethirdleftdiv,
  .homethirdrightdiv {
    flex: none;
    margin: 30px 0;
  }
  .homethirdleftdiv p {
    line-height: 1.5rem;
    font-size: 1.2rem;
    margin: auto;
  }
  .homethirdrightdiv {
    margin-top: 0;
  }
}

//--------------------  fourth area -----------------
.homefourtharea {
  position: relative;
  border-top: 3px solid #79710b;
  border-bottom: 3px solid #79710b;
  background: #00000079;
  text-align: center;
  place-items: center;
  width: 100%;
}
.homefourtharea > p {
  left: 0;
  right: 0;
  top: 30px;
  font-size: 2.5rem;
  text-shadow: 0px 0px 50px yellow;
  position: absolute;
}

.homefourtharea > img {
  margin: 30px;
  width: 90%;
}

.homefourthcontrolpanel {
  position: absolute;
  top: 50px;
  right: 0;
  width: 65px;
  height: 240px;
  display: grid;
  grid-template-columns: auto;
  background-color: #a79d14;
  border-radius: 20px 0 0 20px;
}

.homefourthcontrolpanel > .a {
  display: table;
}

.homefourthcontrolpanel .homefourthimgs {
  margin-top: 10px;
  width: 60%;
}

@media (max-width: 1100px) {
  .homefourtharea > p {
    font-size: 2rem;
  }
}
@media (max-width: 900px) {
}
@media (max-width: 768px) {
  .homefourtharea > p {
    font-size: 1.8rem;
  }
  .homefourthcontrolpanel {
    width: 55px;
    height: 220px;
  }
}
@media (max-width: 640px) {
  .homefourthcontrolpanel {
    top: 30px;
    width: 45px;
    height: 180px;
  }
  .homefourtharea > p {
    margin: 20px;
  }
  .homefourtharea > img {
    margin: 20px;
  }
}
@media (max-width: 500px) {
  .homefourthcontrolpanel {
    top: 30px;
    width: 40px;
    height: 150px;
  }
  .homefourtharea > p {
    margin: 20px;
    font-size: 1.5em;
  }
  .homefourtharea > img {
    margin: 20px;
  }
  .homefourthcontrolpanel .homefourthimgs {
    margin-top: 0px;
  }
  .homefourthcontrolpanel a {
    height: 20px;
  }
}
@media (max-width: 370px) {
  .homefourthcontrolpanel {
    top: 20px;
    width: 35px;
    height: 130px;
  }
  .homefourthcontrolpanel a {
    height: 15px;
  }
  .homefourtharea > p {
    margin: 20px;
    font-size: 1.2em;
  }
}

// ------------------   fifth area  ------------------
.homefiftharea > h6 {
  margin-top: 20px;
  text-shadow: 0px 0px 50px yellow;
}

.roadmapqinfo-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-bottom: 0.5rem;
  font-size: clamp(0.5rem, 2.5rem, 0.91vw);
  > * {
    text-align: left;
  }
}
.roadmapqinfo-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-bottom: 0.5rem;
  font-size: clamp(0.5rem, 2.5rem, 0.91vw);
  > * {
    text-align: right;
  }
}
.roadmapqinfo-left {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 0rem;
  place-items: end;
  margin-right: 0.5rem;
  font-size: clamp(0.45rem, 1.7rem, 0.47vw);
  > * {
    text-align: right;
  }
}
.roadmapqinfo-right {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 0rem;
  place-items: center left;
  margin-left: 0.5rem;
  font-size: clamp(0.45rem, 1.7rem, 0.47vw);
  > * {
    text-align: left;
  }
}
.roadmap-vertical-img {
  width: 3rem;
  margin-top: 3rem;
}
.homefourthimg1 {
  display: grid;
  place-items: center;
  height: 100%;
}
@media (max-width: 761px) {
  .roadmap-mobile-flex {
    display: flex;
  }
}
