main {
  background: url(./../../img/back-website.png) no-repeat center;
  background-size: cover;
}

.slider-one {
  margin: auto;
}
.slide-container h1 {
  font-size: 6vw;
  line-height: 7vw;
}
.box-with-borders {
  border-top: 3px solid #79710b;
  border-bottom: 3px solid #79710b;
  background: #00000079;
  text-align: center;
  display: grid;
  place-items: center;
  width: 100%;
}
.wrapper-container h2,
.wrapper-container h3,
.wrapper-container h4,
.wrapper-container h5,
.wrapper-container h6 {
  font-size: 6vw;
}
.wrapper-container p {
  margin: 1rem 0;
  font-size: 24px;
}
.wrapper-container-dialog {
  margin: auto;
  max-width: 687px;
}
.wrapper-container-dialog button {
  font-size: 1rem;
  font-weight: 800;
}
.left-right-flex {
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) {
  .left-right-flex {
    flex-direction: row;
  }
}
.left-right-flex .right,
.left-right-flex .left {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
}
.left-right-flex .left {
  font-size: 7vw;
  line-height: 7vw;
  padding-left: 10vw;
}
@media (max-width: 900px) {
  .left-right-flex .right {
    margin-top: 0;
  }
  .left-right-flex .left button {
    width: 80vw;
  }
}
.slider-one-arrow-container,
.slider-two-arrow-container {
  position: absolute;
  top: 45%;
  left: -7%;
  right: -5%;
}
.slider-one .carousel__next-button,
.slider-two .carousel__next-button {
  position: absolute;
  right: 0;
  top: 3px;
  border: 0;
  background: url(./../../img/slider-arrow.png) no-repeat center;
  background-size: cover;
  height: 5vh;
  width: 20px;
  filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(277deg)
    brightness(104%) contrast(101%);
}
.slider-one .carousel__back-button,
.slider-two .carousel__back-button {
  border: 0;
  background: url(./../../img/slider-arrow.png) no-repeat center;
  background-size: cover;
  height: 5vh;
  width: 20px;
  filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(277deg)
    brightness(104%) contrast(101%);
  transform: rotateY(180deg);
}
.container-slider-two {
  margin: auto;
}
