div.mm-login {
    background: url(./../../img/fotter-web.png), url(./../../img/back-website.png) no-repeat center;
    background-size: cover;
    text-align:left;
  }
  .logo-text {
    float:left;
    line-height:20px;
    margin-left:20px;
    padding: 10px 0;
  }
  .logo-img {
    float:left;
  }
  .mm-login-dashboard {
    margin-top: 120px;
  }
  main {
    background: url(./../../img/back-website.png) no-repeat center;
    background-size: cover;
  }
  .box-with-borders {
    border-top: 3px solid #79710b;
    border-bottom: 3px solid #79710b;
    background: #00000079;
    text-align: center;
    display: grid;
    place-items: center;
    width: 100%;
  }
  .wrapper-container h2,
  .wrapper-container h3,
  .wrapper-container h4,
  .wrapper-container h5,
  .wrapper-container h6 {
    font-size: 6vw;
  }
  .wrapper-container p {
    margin: 1rem 0;
    font-size: 24px;
  }
  .wrapper-container-dialog1 {
    text-align: left;
    margin: auto;
    max-width: 420px;  
  } 
  
  .wrapper-container-dialog1 span {
    text-align:left;
  }
  .wrapper-container-dialog1 p.first {
    font-size: 22px;
    margin: 15px 0;
  }
  
  .wrapper-container-dialog1 p.second {
    font-size: 18px;
    margin: 15px 0;
  }
  
  .mm-connect {
    font-size: small;
  }
  