:root {
  --red: #ff161a;
  --purple: #934ba4;
  --blue: #526cf7;
  --black: #1a1a1a;
  --blackbox: #2f2e2e;
  --graythinborder: #bdb8b8;
  --labelgray: #666666;
  --grayborder: #ece6e6;
  --borderbtn: #716e70;
  --closered: #ed1c24;
  --yellow: #ffe348;
  --brightyellow: #ffff00;
  --orange: #ef7f40;
  --linkblue: #152846;

  --linear-gradient: linear-gradient(0deg, #ef7f40 0%, #ffe348 100%);
  --linear-gradient-reversed: linear-gradient(180deg, #ef7f40 0%, #ffe348 100%);

  --footerbg: #08050c;
}
