// defaults
:root {
  --padding: 0.2rem 0;
  --font: "open-sans";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: white;
  font-family: var(--font);
  font-size: 30px;
  font-weight: 900;
}
a {
  text-decoration: none;
  color: white;
  background: transparent;
  &:hover {
    background: -webkit-linear-gradient(
      180deg,
      var(--orange) 0%,
      var(--yellow) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 14px 3px 25px var(--orange), -14px 3px 25px var(--yellow);
    filter: brightness(150%);
  }
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
ul {
  list-style: none;
}
nav ul {
  display: flex;
}

.flex-wrapper {
  display: flex;
}
@media (min-width: 1360px) {
  .mobile-only {
    display: none !important;
  }
  .desktop-only {
    display: block;
  }
}
@media (max-width: 1359px) {
  .desktop-only {
    display: none !important;
  }
}
.w-full {
  width: 100%;
}
.mw-50 {
  max-width: 50%;
}
.pt-1 {
  padding-top: 0.2rem;
}
.mt-1 {
  margin-top: 0.2rem;
}
.my-1 {
  margin: 0.2rem 0;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.ml-2 {
  margin-left: 0.4rem;
}
.vh-100 {
  min-height: 100vh;
}
.margin-auto {
  margin: auto;
}
.mx-auto {
  margin: 0 auto;
}
video {
  width: 100%;
  height: auto;
}
.direction-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.gap-1 {
  gap: 4px;
}
@media (max-width: 768px) {
  .vh-100 {
    min-height: 400px;
  }
}
.grid {
  display: grid;
}
.place-center {
  place-items: center;
  height: 100%;
}
